@import url('https://fonts.googleapis.com/css?family=Press Start 2P');

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: url('/assets/home_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

section {
    margin-bottom: 1rem;
}

form {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

label, input, select {
    margin-bottom: 0.3rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

input[type="submit"] {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

footer {
    text-align: right;
    padding: 1rem;
    font-size: 0.8rem;
    background-color: rgba(51, 51, 51, 0.8);
}

.uploaded-files-link {
    color: #faf89d;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    display:inline-block;
}

.uploaded-files-link:hover {
    color: #00ff40;
}
